@import '../../styles/_tools.scss';

.s-input {
  @include font;
  @include focusable;
  @include bordered(
    color-secondary,
    (
      bottom: true
    )
  );

  display: flex;

  @include var(padding-top, spacing-sm);
  padding-right: 0;
  @include var(padding-bottom, spacing-sm);
  padding-left: 0;

  width: 100%;
}
