@import '../../styles/_tools.scss';

.s-input {
  @include font;
  @include focusable;
  @include bordered(
    border-color,
    (
      bottom: true
    )
  );

  display: flex;

  @include var(padding-left, spacing-md);
  @include var(padding-right, spacing-md);
  @include var(padding-top, spacing-sm);
  @include var(padding-bottom, spacing-sm);

  width: 100%;
}
