@import '../../styles/_tools.scss';

.s-button {
  @include font;
  @include disableable;
  @include transition(background, color);

  @include var(padding-left, spacing-md);
  @include var(padding-right, spacing-md);
  @include var(padding-top, spacing-md);
  @include var(padding-bottom, spacing-md);
  @include var(border-color, transparent);
  @include var(background, color-white);
  @include var(color, color-primary);

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;

  text-transform: uppercase;

  &.-highlighted {
    @include var(background, color-secondary);
    @include var(color, color-white);

    @include hoverable {
      @include var(background, color-quartenary);
      @include var(color, color-white);
    }
  }

  & + & {
    @include var(margin-left, spacing-sm);
    margin: {
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  @include hoverable {
    @include var(background, color-terciary);
    @include var(color, color-primary);
  }
}
