$vars: (
  color-black: #444,
  color-overlay: rgba(0, 0, 0, 0.25),
  color-danger: #e84601,
  color-danger--light: rgba(232, 70, 1, 0.25),
  color-primary: #364f6b,
  color-secondary: #3fc1c9,
  color-terciary: #f5f5f5,
  border-color: #dbdbdb,
  color-quartenary: #fc5185,
  color-info: #58acfa,
  color-white: white,
  color-success: #77b430,
  color-warn: #f1c40f,
  font-size-md: 14px,
  font-size-sm: 12px,
  font-size-xs: 10px,
  font-weight-light: 300,
  font-weight-normal: 400,
  font-weight-bold: 800,
  spacing-xg: 32px,
  spacing-lg: 24px,
  spacing-md: 16px,
  spacing-sm: 8px,
  spacing-xs: 4px,
  layer-default: 0,
  layer-overlay: 1,
  layer-alert: 2
);
